---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="about-us">
    <div class="text-center max-w-3xl mx-auto space-y-4">
        <h1 style="font-size: 2.25rem; line-height: 1.2; font-weight: normal; color: white;">
        Experiences
        </h1>
        
    </div>
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12 mt-2">
        <div>
            <h2 class="text-xl text-white mb-10">Frameworks I've worked with</h2>
            <div class="grid grid-cols-2 md:grid-cols-5 gap-6 lg:gap-8">
              <div class="flex flex-col items-center">
                <div class="rounded-full p-1">
                  <img src="../images/icons8-flutter-96.png" alt="Icon 1" class="w-15 h-15 rounded-none">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class=" rounded-full p-1">
                  <img src="../images/icons8-mysql-96.png" alt="Icon 2" class="w-15 h-15 rounded-none">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class=" rounded-full p-1">
                  <img src="../images/icons8-nodejs-96.png" alt="Icon 3" class="w-15 h-15 rounded-full">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class="rounded-full p-1">
                  <img src="../images/icons8-firebase-96.png" alt="Icon 4" class="w-15 h-15 rounded-full">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class="rounded-full p-1">
                  <img src="../images/icons8-postman-is-the-only-complete-api-development-environment-96.png" alt="Icon 5" class="w-15 h-15 rounded-full">
                </div>
              </div>
            
            </div>
            <div class="grid grid-cols-2 md:grid-cols-5 gap-6 lg:gap-8 mt-4">
                <div class="flex flex-col items-center bg-white rounded-full">
                    <div class="rounded-full p-1">
                      <img src="../images/nextjs-fill-svgrepo-com (2).png" alt="Icon 1" class="w-13 h-13 rounded-none">
                    </div>
                  </div>
                  
              <div class="flex flex-col items-center">
                <div class=" rounded-full p-1">
                  <img src="../images/astro-svgrepo-com (1).png" alt="Icon 2" class="w-15 h-15 rounded-none">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class=" rounded-full p-1">
                  <img src="../images/icons8-tailwindcss-96.png" alt="Icon 3" class="w-15 h-15 rounded-full">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class="rounded-full p-1">
                  <img src="../images/icons8-flask-100 (1).png" alt="Icon 4" class="w-15 h-15 rounded-full">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class="rounded-full p-1">
                  <img src="../images/icons8-python-96.png" alt="Icon 5" class="w-15 h-15 rounded-full">
                </div>
              </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-5 gap-6 lg:gap-8 mt-6">
                <div class="flex flex-col items-center bg-white rounded-full">
                    <div class="rounded-full p-1">
                      <img src="../images/icons8-mongodb-a-cross-platform-document-oriented-database-program-96.png" alt="Icon 1" class="w-13 h-13 rounded-none">
                    </div>
                  </div>
                  
              <div class="flex flex-col items-center">
                <div class=" rounded-full p-1">
                  <img src="../images/icons8-pandas-96.png" alt="Icon 2" class="w-15 h-15 rounded-none">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class=" rounded-full p-1">
                  <img src="../images/tensorflow-svgrepo-com (1).png" alt="Icon 3" class="w-15 h-15 rounded-full">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class="rounded-full p-1">
                  <img src="../images/icons8-java-96.png" alt="Icon 4" class="w-15 h-15 rounded-full">
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div class="rounded-full p-1">
                  <img src="../images/icons8-arduino-96.png" alt="Icon 5" class="w-15 h-15 rounded-full">
                </div>
              </div>
            </div>
          </div>
          
          
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <p style="font-size: 1.35rem; color: white;">
                Work Experience
            </p>
            <div class="flex items-center justify-between">
                <div class="flex flex-col">
                  <p class="text-xl text-white">Software Development Intern</p>
                  <p class="text-primary">May 2022 - August 2022</p>
                  <p class="text-xl text-white"><a href="https://ail.auriga.co.in/" target="_blank">Auriga Innovative Labs</a></p>
                </div>
                <div class="ml-4">
                  <img src="../images/Untitled design.png" alt="Image" class="w-32 h-32 rounded-full">
                </div>
              </div>

              <div class="flex items-center justify-between mt-3">
                <div class="flex flex-col">
                  <p class="text-xl text-white">Research Intern</p>
                  <p class="text-primary">August 2022 - May 2023</p>
                  <p class="text-xl text-white"><a href= "http://tavlab.iiitd.edu.in/" target="_blank">TavLab | IIITD</a></p>
                </div>
                <div class="ml-4">
                  <img src="../images/iiitd2.png" alt="Image" class="w-40 h-32 ">
                </div>
              </div>

              <div class="flex items-center justify-between mt-3">
                <div class="flex flex-col">
                  <p class="text-xl text-white">Flutter Development Intern</p>
                  <p class="text-primary">May 2023 - Ongoing</p>
                  <p class="text-xl text-white">Kalakumbh</p>
                </div>
                <div class="ml-4">
                  <img src="../images/kalakumbh copy.png" alt="Image" class="w-32 h-32 ">
                </div>
              </div>
              
        </div>
    </Container>
</section>