---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <h1 style="font-size: 2.25rem; line-height: 1.2; font-weight: normal; color: white;">
                About Me
            </h1>
            <p style="font-size: 1.15rem; color: white; margin-top: 10px;">
                Senior at IIITD | Computer Science and Engineering <br> An aspiring tech savvy Developer with a great sense of UI/UX
            </p>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li class="flex items-center mb-5">
                    <img src="../images/icons8-flutter-150.png" alt="Bullet Point Photo" class="w-20 h-20 rounded-full mr-3">
                    <div>
                      <h3 class="text-2xl text-white">Flutter Developer</h3>
                      <p class="text-primary">Creating captivating cross-platform mobile apps using Flutter, seamlessly merging Android and iOS realms into unified, elegant experiences.

                    </div>
                  </li>
                  
                <li class="flex items-center mb-5 ">
                    <img src="../images/icons8-ux-100.png" alt="Bullet Point Photo" class="w-20 h-20  mr-3">
                    <div>
                        <h3 class="text-2xl text-white ">UI/UX Acumen</h3>
                        <p class="text-primary">
                            Masterfully crafting immersive experiences through thoughtful design, meticulous attention to detail, and a deep understanding of user-centric principles.</p>
                      </div>
                </li>
                <li class="flex items-center mb-3">
                    <img src="../images/icons8-backend-100.png" alt="Bullet Point Photo" class="w-20 h-20  mr-3">
                    <div>
                        <h1 class="text-2xl text-white">Web Developer</h1>
                        <p class="text-primary">Leveraging the capabilities of Flask, NodeJS, and NextJS, to construct feature-rich APIs and backends that empower websites.</p>
                      </div>
                </li>
                <li class="flex items-center mb-3">
                    <img src="../images/icons8-machine-learning-100.png" alt="Bullet Point Photo" class="w-20 h-20  mr-3">
                    <div>
                        <h3 class="text-2xl text-white">Machine Learning</h3>
                        <p class="text-primary">Harnessing the potential of machine learning to uncover valuable insights and predict outcomes by analyzing complex datasets with advanced algorithms.</p>
                      </div>
                </li>
                
            </ul>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <p style="font-size: 1.35rem; color: white; margin-top: 10px;">
                    Education
                </p>
                <li class="flex items-center mb-5">
                    <p style="font-size: 1.35rem; color: white; margin-top: 10px; margin-right: 1ch;">
                        2020 <br>
                             to <br>
                        2024
                    </p>
                    <div>
                      <h3 class="text-2xl text-white">B.Tech<br> Computer Science and Engineering</h3>
                      <p class="text-primary margin-top: 2ch;">IIITD(Indraprastha Institute of Informations and Technology Delhi)</p>
                    </div>
                </li>
                <p style="font-size: 1.35rem; color: white; margin-top: 10px;">
                    Hobbies and Interests
                </p>
                <li class="flex items-center mb-3">
                    <img src="../images/icons8-knight-100.png" alt="Bullet Point Photo" class="w-20 h-20  mr-3">
                    <div>
                        <p class="text-primary">As an accomplished chess enthusiast, I have achieved notable success in competitive chess, including Joint 1st in the African Continental Youth Chess Championship. Recognized as a <a href="https://ratings.fide.com/profile/10800743" class="text-white">FIDE Master(FM)</a> by the World Chess Federation (FIDE) with a rating of 1492, chess remains a cherished hobby that fuels my passion for strategic thinking and intellectual challenges.</p>
                <li class="flex items-center mb-3">
                    <img src="../images/icons8-world-cup-100.png" alt="Bullet Point Photo" class="w-20 h-20  mr-3">
                    <div>
                        <p class="text-primary">Ardent football enthusiast and proud supporter of Liverpool since 2010. I also actively engage in chess, basketball, cricket, and Formula 1, enhancing my love for various spectator sports.</p>
                    </div>
                </li>
                <li class="flex items-center mb-3">
                    <img src="../images/icons8-music-100.png" alt="Bullet Point Photo" class="w-20 h-20  mr-3">
                    <div>
                        <p class="text-primary">I can't function without jamming to the incredible music of Kanye West and Kendrick Lamar. Most of the time, I enjoy listening to a lot of indie music too.</p>
                    </div>
                </li>
            </ul>
        </div>
    </Container>
</section>