---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <h1 style="font-size: 2.25rem; line-height: 1.2; font-weight: normal; color: white;">
                About Me
            </h1>
            <p style="font-size: 1.15rem; color: white; margin-top: 10px;">
                Senior at IIITD | Computer Science and Engineering <br> An aspiring tech savvy Developer with a great sense of UI/UX
            </p>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li class="flex items-center mb-5">
                    <img src="../images/icons8-flutter-150.png" alt="Bullet Point Photo" class="w-20 h-20 rounded-full mr-3">
                    <div>
                      <h3 class="text-2xl text-white">Flutter Developer</h3>
                      <p class="text-primary">Creating captivating cross-platform mobile apps using Flutter, seamlessly merging Android and iOS realms into unified, elegant experiences.

                    </div>
                  </li>
                  
                <li class="flex items-center mb-5 ">
                    <img src="../images/icons8-ux-100.png" alt="Bullet Point Photo" class="w-20 h-20  mr-3">
                    <div>
                        <h3 class="text-2xl text-white ">UI/UX Acumen</h3>
                        <p class="text-primary">
                            Masterfully crafting immersive experiences through thoughtful design, meticulous attention to detail, and a deep understanding of user-centric principles.</p>
                      </div>
                </li>
                <li class="flex items-center mb-3">
                    <img src="../images/icons8-backend-100.png" alt="Bullet Point Photo" class="w-20 h-20  mr-3">
                    <div>
                        <h1 class="text-2xl text-white">Web Developer</h1>
                        <p class="text-primary">Leveraging the powers of Flask, NodeJS and NextJS to </p>
                      </div>
                </li>
                <li class="flex items-center mb-3">
                    <img src="../images/icons8-machine-learning-100.png" alt="Bullet Point Photo" class="w-20 h-20  mr-3">
                    <div>
                        <h3 class="text-2xl text-white">Machine Learning</h3>
                        <p class="text-primary">Decent Experience</p>
                      </div>
                </li>
                
            </ul>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/dev-with-c.webp"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
</section>