---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="services">
    <Container className="space-y-10 md:space-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <h1 style="font-size: 2.25rem; line-height: 1.2; font-weight: normal; color: white;">
               My Projects
            </h1>
            <p style="font-size: 1.35rem; color: white;">
                See my most recent projects below to get an idea of my past experiences.
            </p>
        </div>

        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 lg:gap-8">
            <div class="flex flex-col items-left">
            <div class ="border border-white">
              <img src="../images/Holocron.png" alt="Holocron OAuth" class="w-50 h-21  mb-3">
            </div>
              <h3 class="text-white text-2xl mt-2 ">Holocron OAuth</h3>
              <p class="text-primary">A new kind of SIM based authentication lets the user access multiple services with just one click, making the login process faster and more convenient than ever before. </p>
              <!-- <a href="" class="">Website</a> <a href="">Github</a> <a href="">APKs</a> -->
              <div class="flex space-x-4">
                <a href="https://holocron-auth.gjd.one/" target="_blank" class="text-white">Website</a>
                <a href="https://holocron-auth.gjd.one/download-app" target="_blank" class="text-white">APKs</a>
                <a href="https://github.com/Holocron-Auth" target="_blank" class="text-white">Github</a>
              </div>
              <div class="flex space-x-4 justify-between">
                <a href="" target="_blank" class="text-white">Development Oriented </a>
                <a href="https://faculty.iiitd.ac.in/~arunb/" target="_blank" class="text-white">Advisor: Prof. Arun Balaji</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../images/Holocron (1).png" alt="Forumula 1 Race Results Predictor" class="w-50 h-30 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Forumula 1 Race Results Predictor
              </h3>
              <p class="text-primary">Through meticulous data collection and analysis, considering a myriad of variables that influence race outcomes, an advanced Formula 1 Race Results Predictor has been crafted. By incorporating qualifying results, this exceptional tool accurately forecasts race results, categorizing them into three classes: podium finishes, points finishes, and non-points finishes, for every race on the calendar.</p>
              <div class="flex space-x-4">
                <a href="" target="_blank" class="text-white">Website</a>
                <a href="" target="_blank" class="text-white">Github</a>
              </div>
              <div class="flex space-x-4 justify-between">
                <a href="" target="_blank" class="text-white">Research Oriented </a>
                <a href="https://www.iiitd.ac.in/anubha" target="_blank" class="text-white">Advisor: Prof. Anubha Gupta</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../images/AIIMS TB App.png" alt="Forumula 1 Race Results Predictor" class="w-50 h-50 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">AIIMS Tuberculosis Detection & Cross-Platform App </h3>
              <p class="text-primary">Leveraging machine learning algorithms, I developed a cross-platform interface to analyze user inputs and predict the likelihood of either Crohn's disease or intestinal tuberculosis.</p>
              <div class="flex space-x-4 justify-between">
                <a href="" target="_blank" class="text-white">Research Oriented </a>
                <a href="https://www.iiitd.ac.in/tavpritesh" target="_blank" class="text-white">Advisor: Dr.Tavpritesh Sethi</a>
              </div>
            </div>
          </div>

          <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 lg:gap-8">
            <div class="flex flex-col items-left">
            <div class ="">
              <img src="../images/AIIMS TB App (1).png" alt="Holocron OAuth" class="w-50 h-30  mb-3">
            </div>
              <h3 class="text-white text-2xl mt-2 ">Online Retail Store</h3>
              <p class="text-primary">Utilised the robustness of Flask, MySQL basic HTML and CSS and made a fully working Online Retail Store which hanlded complex SQL operations as well as maintained user state throughout and allowed multi-user login.</p>
              <!-- <a href="" class="">Website</a> <a href="">Github</a> <a href="">APKs</a> -->
              <div class="flex space-x-4">
                <a href="https://github.com/pendi1901/ORS_Project-1/tree/master" target="_blank" class="text-white">Github</a>
              </div>
              <div class="flex space-x-4 justify-between">
                <a href="" target="_blank" class="text-white">Development Oriented </a>
                <a href="https://www.iiitd.ac.in/mukesh" target="_blank" class="text-white">Advisor: Prof Mukesh M</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-white">
                <img src="../images/AIIMS TB App (2).png" alt="Silver Arrows" class="w-50 h-30 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Silver Arrows
              </h3>
              <p class="text-primary">Built a realtime formula one(F1) car(1:10) Car powered with really powerful DC motors and a wheelbase of 3.5 inches. Voice Controlled with a specific set of commands using Arduino and a Bluetooth module. Design inspiration - Mercedes F1 Car(W12)</p>
              <div class="flex space-x-4">
                <a href="https://github.com/pendi1901/Voice-Control-RC-Car" target="_blank" class="text-white">Github</a>
              </div>
              <div class="flex space-x-4 justify-between">
                <a href="" target="_blank" class="text-white">Development Oriented </a>
                <a href="https://www.iiitd.ac.in/richagupta" target="_blank" class="text-white">Advisor: Prof Richa Gupta</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../images/AIIMS TB App (3).png" alt="The_WillHeroGame" class="w-50 h-50 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">The Will Hero Game
              </h3>
              <p class="text-primary">Created a clone of the popular and exhilarating game "The WillHero Game" using Java and JavaFX with the help of predominantly OOPS</p>
              <div class="flex space-x-4">
                <a href="https://github.com/pendi1901/The_WillHeroGame_FX" target="_blank" class="text-white">Github</a>
              </div>
              <div class="flex space-x-4 justify-between">
                <a href="" target="_blank" class="text-white">Development Oriented </a>
                <a href="https://www.iiitd.ac.in/vivekk" target="_blank" class="text-white">Advisor: Prof Vivek Kumar</a>
              </div>
            </div>
          </div>

          <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 lg:gap-8">
            <div class="flex flex-col items-left">
            <div class ="border border-black">
              <img src="../images/AIIMS TB App (6).png" alt="Holocron OAuth" class="w-50 h-30  mb-3">
            </div>
              <h3 class="text-white text-2xl mt-2 ">Tamil NLP</h3>
              <p class="text-primary">Created annotation guidelines for Tamil translation and transliteration, utilizing various sources. Through API integration and data analysis, I computed metrics like BLUE Score and Exact Match. Additionally, I developed a user-friendly interface for the Tamil NLP portal, facilitating effective management and result viewing. </p>
              <div class="flex space-x-4 justify-between">
                <a href="" target="_blank" class="text-white">Research Oriented </a>
                <a href="https://www.iiitd.ac.in/rajivratn" target="_blank" class="text-white">Advisor: Prof Rajiv Ratn Shah</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../images/AIIMS TB App (4).png" alt="Assembler and Simulator" class="w-50 h-30 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Assembler and Simulator
              </h3>
              <p class="text-primary">Implemented an intricately designed Assembler and Simulator in Python, capable of seamlessly transforming Assembly language inputs into their corresponding Machine Code outputs.</p>
              <div class="flex space-x-4">
                <a href="https://github.com/pendi1901/Simulator" target="_blank" class="text-white">Github</a>
              </div>
              <div class="flex space-x-4 justify-between">
                <a href="" target="_blank" class="text-white">Development Oriented </a>
                <a href="https://www.iiitd.ac.in/sdeb" target="_blank" class="text-white">Advisor: Prof Sujay Deb</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../images/AIIMS TB App (5).png" alt="Portfolio Website" class="w-50 h-50 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Portofolio Website
              </h3>
              <p class="text-primary">Crafted a meticulously designed portfolio website, With meticulous attention to detail, the website presents a curated collection of my work and accomplishments, providing visitors with an immersive experience that highlights my skills and expertise. </p>
              <div class="flex space-x-4">
                <a href="https://ritvikpendyala.vercel.app/" target="_blank" class="text-white">Website</a>
                <a href="https://github.com/pendi1901/Portfolio" target="_blank" class="text-white">Github</a>
              </div>
              <a href="" target="_blank" class="text-white">Development Oriented </a>
            </div>
          </div>
          
    </Container>
</section>