---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="services">
    <Container className="space-y-10 md:space-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <h1 style="font-size: 2.25rem; line-height: 1.2; font-weight: normal; color: white;">
               My Projects
            </h1>
            <p style="font-size: 1.35rem; color: white;">
                See my most recent projects below to get an idea of my past experiences.
            </p>
        </div>

        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 lg:gap-8">
            <div class="flex flex-col items-left">
            <div class ="border border-white">
              <img src="../images/Holocron.png" alt="Holocron OAuth" class="w-50 h-30  mb-3">
            </div>
              <h3 class="text-white text-2xl mt-2 ">Holocron OAuth</h3>
              <p class="text-primary">A new kind of SIM based authentication lets the user access multiple services with just one click, making the login process faster and more convenient than ever before. </p>
              <!-- <a href="" class="">Website</a> <a href="">Github</a> <a href="">APKs</a> -->
              <div class="flex space-x-4">
                <a href="https://holocron-auth.gjd.one/" target="_blank" class="text-white">Website</a>
                <a href="https://holocron-auth.gjd.one/download-app" target="_blank" class="text-white">APKs</a>
                <a href="https://github.com/Holocron-Auth" target="_blank" class="text-white">Github</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../images/Holocron (1).png" alt="Forumula 1 Race Results Predictor" class="w-50 h-30 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Forumula 1 Race Results Predictor
              </h3>
              <p class="text-primary">Description 2</p>
              <div class="flex space-x-4">
                <a href="" target="_blank" class="text-white">Website</a>
                <a href="" target="_blank" class="text-white">Github</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../images/Holocron (1).png" alt="Forumula 1 Race Results Predictor" class="w-50 h-50 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Forumula 1 Race Results Predictor
              </h3>
              <p class="text-primary">Description 2</p>
              <div class="flex space-x-4">
                <a href="" target="_blank" class="text-white">Website</a>
                <a href="" target="_blank" class="text-white">Github</a>
              </div>
            </div>
          </div>

          <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 lg:gap-8">
            <div class="flex flex-col items-left">
            <div class ="border border-white">
              <img src="../public/images/Holocron.png" alt="Holocron OAuth" class="w-50 h-30  mb-3">
            </div>
              <h3 class="text-white text-2xl mt-2 ">Holocron OAuth</h3>
              <p class="text-primary">A new kind of SIM based authentication lets the user access multiple services with just one click, making the login process faster and more convenient than ever before. </p>
              <!-- <a href="" class="">Website</a> <a href="">Github</a> <a href="">APKs</a> -->
              <div class="flex space-x-4">
                <a href="https://holocron-auth.gjd.one/" target="_blank" class="text-white">Website</a>
                <a href="https://holocron-auth.gjd.one/download-app" target="_blank" class="text-white">APKs</a>
                <a href="https://github.com/Holocron-Auth" target="_blank" class="text-white">Github</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../public/images/Holocron (1).png" alt="Forumula 1 Race Results Predictor" class="w-50 h-30 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Forumula 1 Race Results Predictor
              </h3>
              <p class="text-primary">Description 2</p>
              <div class="flex space-x-4">
                <a href="" target="_blank" class="text-white">Website</a>
                <a href="" target="_blank" class="text-white">Github</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../public/images/Holocron (1).png" alt="Forumula 1 Race Results Predictor" class="w-50 h-50 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Forumula 1 Race Results Predictor
              </h3>
              <p class="text-primary">Description 2</p>
              <div class="flex space-x-4">
                <a href="" target="_blank" class="text-white">Website</a>
                <a href="" target="_blank" class="text-white">Github</a>
              </div>
            </div>
          </div>

          <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 lg:gap-8">
            <div class="flex flex-col items-left">
            <div class ="border border-white">
              <img src="../public/images/Holocron.png" alt="Holocron OAuth" class="w-50 h-30  mb-3">
            </div>
              <h3 class="text-white text-2xl mt-2 ">Holocron OAuth</h3>
              <p class="text-primary">A new kind of SIM based authentication lets the user access multiple services with just one click, making the login process faster and more convenient than ever before. </p>
              <!-- <a href="" class="">Website</a> <a href="">Github</a> <a href="">APKs</a> -->
              <div class="flex space-x-4">
                <a href="https://holocron-auth.gjd.one/" target="_blank" class="text-white">Website</a>
                <a href="https://holocron-auth.gjd.one/download-app" target="_blank" class="text-white">APKs</a>
                <a href="https://github.com/Holocron-Auth" target="_blank" class="text-white">Github</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../public/images/Holocron (1).png" alt="Forumula 1 Race Results Predictor" class="w-50 h-30 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Forumula 1 Race Results Predictor
              </h3>
              <p class="text-primary">Description 2</p>
              <div class="flex space-x-4">
                <a href="" target="_blank" class="text-white">Website</a>
                <a href="" target="_blank" class="text-white">Github</a>
              </div>
            </div>
            <div class="flex flex-col items-left">
                <div class ="border border-black">
                <img src="../public/images/Holocron (1).png" alt="Forumula 1 Race Results Predictor" class="w-50 h-50 mb-3">
                </div>
              <h3 class="text-white text-2xl mt-2 ">Forumula 1 Race Results Predictor
              </h3>
              <p class="text-primary">Description 2</p>
              <div class="flex space-x-4">
                <a href="" target="_blank" class="text-white">Website</a>
                <a href="" target="_blank" class="text-white">Github</a>
              </div>
            </div>
          </div>
          
    </Container>
</section>